/* Define Variables Start */
$white:#fff;
$themecolour:#7e3ba9;
$textcenter: center;
/*Define Variables End*/
/* Define font-size, margin , padding start */
$spaceamounts: (0, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 30, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone
@each $space in $spaceamounts {
     @each $side in $sides {
          .m-#{str-slice($side, 0, 1)}-#{$space} {
               margin-#{$side}: #{$space}px;
          }
          .p-#{str-slice($side, 0, 1)}-#{$space} {
               padding-#{$side}: #{$space}px;
          }
     }
     .f-#{$space} {
          font-size: #{$space}px;
     }
     .l-#{$space} {
          font-size: #{$space}px;
     }
}
/* Define font-size, margin , padding end */
page-home {
     .contact {
          background: url(../assets/imgs/contact_backpng.png);
          background-size: cover;
          h3 {
               color: #fff;
               text-align: left;
               letter-spacing: 0.8px;
          }
          p {
               color: $white;
               text-align: center;
          }
          .subscribe_btn ion-icon {
               color: #fff;
          }
          .align-left {
               text-align: left;
          }
          .stay {
               font-size: 14px;
          }
          ion-col.seperator-frame.col {
               width: 100%;
               float: left;
               margin: 30px 0;
               border-bottom: 1px solid #fff;
          }
          .shop_link {
               width: 100%;
               float: left;
               margin-top: 20px;
               a {
                    text-align: $textcenter;
                    font-size: 14px;
                    text-decoration: underline;
                    letter-spacing: 0.8px;
                    color: #c993ee;
               }
          }
          .footer_cont {
               img {
                    width: 90px;
                    float: right;
               }
          }
          .download_frame {
               width: 100%;
               float: left;
               h3 {
                    margin: 0 0 20px;
                    color: #fff;
                    font-size: 2.1rem;
               }
               .downloads_outer {
                    width: 100%;
                    float: left;
                    ul {
                         float: left;
                         margin: 0 auto;
                         width: 100%;
                         padding: 0px;
                         li {
                              list-style: none;
                              width: 100%;
                              float: left;
                              line-height: 50px;
                              .download_icon {
                                   font-size: 1.6em;
                                   padding-right: 15px;
                                   display: inline-block;
                                   vertical-align: middle;
                                   color: #fff;
                                   ion-icon {
                                        color: #fff;
                                        vertical-align: inherit;
                                   }
                              }
                              a {
                                   font-size: 15px;
                                   color: #fff;
                                   text-decoration: none;
                                   font-weight: 300;
                                   display: inline-block;
                                   vertical-align: middle;
                                   line-height: normal;
                              }
                         }
                    }
               }
          }
          .powered_by {
               width: 100%;
               float: left;
               text-align: center;
               p {
                    font-size: 16px;
                    color: #fff;
                    margin: 0;
                    .online_support {
                         display: inline-block;
                         vertical-align: middle;
                    }
                    .prologic_logo {
                         display: inline-block;
                         vertical-align: middle;
                    }
                    img {
                         width: 160px;
                         padding-top: 15px;
                    }
               }
          }
          .reserved {
               width: 100%;
               float: left;
               p {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 300;
                    margin: 0;
                    text-align: center;
               }
          }
     }
     .get_social_inner {
          width: 100%;
          float: left;
          padding: 0px;
          h2 {
               margin: 0;
               font-size: 2.1rem;
               color: #fff;
               text-align: left;
          }
          .social_icon {
               width: 100%;
               display: inline-block;
               text-align: center;
               margin-top: 8px;
               ul {
                    padding: 0;
                    margin: 0 auto;
                    float: left;
                    width: 100%;
                    li {
                         width: 171px;
                         float: left;
                         list-style: none;
                         margin-right: 0;
                         margin-top: 14px;
                         text-align: left;
                         a {
                              font-size: 18px;
                              font-weight: 300;
                              color: #fff;
                              text-decoration: underline;
                              display: inline-block;
                              vertical-align: middle;
                         }
                         .social_media_icon {
                              display: inline-block;
                              vertical-align: middle;
                              padding-right: 15px;
                              ion-icon {
                                   display: inline-block;
                                   font-size: 1.4em;
                                   color: #fff;
                              }
                         }
                    }
               }
          }
     }
     .email_address input {
          width: 100%;
          padding: 15px 10px;
          height: 40px;
          border-radius: 4px;
          border: none;
          padding-right: 50px;
     }
     .email_address .btn {
          background: #7e3ba9;
          border-radius: 2px;
          color: #fff;
          font-size: 30px;
          padding: 0;
          margin: 0;
          width: 40px;
          height: 33px;
          float: right;
          position: absolute;
          left: auto;
          right: 4px;
          top: auto;
          bottom: 3px;
     }
     .email {
          color: #fff;
          font-size: 18px;
          width: 100%;
          float: left;
          ion-icon {
               display: inline-block;
               font-size: 1.5em;
               padding-right: 4px;
               color: #fff;
               vertical-align: sub;
          }
     }
     a {
          font-size: 17px;
          color: #fff;
          text-decoration: none;
          font-weight: normal;
          letter-spacing: 0.8px;
     }
     .shadow_style {
          box-shadow: 2px 2px 3px #fff;
          border-radius: 64px;
          padding: 0 25px;
          float: none;
          margin-right: 0px;
     }
     .button_frame {
          text-align: $textcenter;
          width: 100%;
          margin-top: 20px;
          span.button-inner {
               font-size: 16px;
          }
     }
}
.text_inner {
     vertical-align: middle;
     display: inline-block;
     float: none;
     margin: 0 0 0 -5px;
}
.image_inner {
     vertical-align: middle;
     display: inline-block;
     float: none;
     margin-top: 15px;
}